.whb-sticky-prepared {
    padding-top: var(--wd-header-h);
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
}


*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.whb-sticky-prepared .whb-main-header {
    position: absolute;
}
.whb-main-header {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    z-index: 390;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}


.whb-color-dark:not(.whb-with-bg) {
    background-color: #FFF;
}
.whb-general-header {
    border-bottom-width: 0;
    border-bottom-style: solid;
}
.whb-row {
    transition: background-color .2s ease;
}
.whb-general-header {
    --wd-header-h: calc(var(--wd-top-bar-h) + var(--wd-header-general-h));
}
.whb-row {
    transition: background-color .2s ease;
}
.container, .container-fluid {
    width: 100%;
    max-width: var(--wd-container-w);
    padding-inline: 15px;
    margin-inline: auto;
}

.whb-scroll-stick .whb-flex-row {
    transition: height .2s ease, max-height .2s ease;
}

@media (min-width: 1025px) {
    .whb-general-header-inner {
        height: var(--wd-header-general-h);
        max-height: var(--wd-header-general-h);
    }
}
.whb-flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.whb-flex-equal-sides :is(.whb-col-left,.whb-col-right) {
    flex: 1 1 0%;
}

.whb-col-left, .whb-mobile-left {
    justify-content: flex-start;
    margin-left: -10px;
}
.whb-column {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-height: inherit;
}

.wd-header-nav {
    flex: 1 1 auto;
}
.wd-header-nav, .site-logo {
    padding-inline: 10px;
}
.text-left {
    --text-align: left;
    text-align: var(--text-align);
    --content-align: flex-start;
    --wd-align: flex-start;
}

.wd-tools-element>a, .wd-header-nav, .site-logo, [class*="wd-header-search-form"], .whb-column>.info-box-wrapper, .wd-header-text, .whb-column>.wd-button-wrapper, .whb-column>.wd-social-icons, .wd-header-html {
    padding-inline: 10px;
}

.wd-nav.wd-style-default {
    --nav-color-hover: var(--wd-primary-color);
    --nav-color-active: var(--wd-primary-color);
}


.wd-nav[class*="wd-style-"] {
    --nav-color: #333;
    --nav-color-hover: rgba(51, 51, 51, 0.7);
    --nav-color-active: rgba(51, 51, 51, 0.7);
    --nav-chevron-color: rgba(82, 82, 82, .45);
}

.wd-nav {
    --list-mb: 0;
    --li-mb: 0;
    --li-pl: 0;
    --nav-gap: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: var(--text-align, var(--wd-align));
    text-align: left;
    gap: 1px var(--nav-gap);
    list-style: none;
}
ul {
    list-style: disc;
}
:is(ul,ol) {
    margin-bottom: var(--list-mb);
    padding-left: var(--li-pl);
    --list-mb: 20px;
    --li-mb: 10px;
    --li-pl: 17px;
}

ol, ul {
    list-style: none;
}

.wd-nav>li {
    position: relative;
}

:is(ul,ol) li {
    margin-bottom: var(--li-mb);
}


.wd-nav[class*="wd-style-"]>li:is(.current-menu-item,.wd-active,.active)>a {
    color: var(--nav-color-active);
}

.wd-nav[class*="wd-style-"]>li>a {
    color: var(--nav-color);
}

.wd-nav>li>a {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.2;
}
.wd-nav-main>li>a, .wd-nav-secondary>li>a {
    height: 40px;
    font-weight: var(--wd-header-el-font-weight);
    font-style: var(--wd-header-el-font-style);
    font-size: var(--wd-header-el-font-size);
    font-family: var(--wd-header-el-font);
    text-transform: var(--wd-header-el-transform);
}

a {
    color: var(--wd-link-color);
    text-decoration: none;
    transition: all .25s ease;
}

a, button, input {
    touch-action: manipulation;
}

.wd-nav>li {
    position: relative;
}

:is(ul,ol) li {
    margin-bottom: var(--li-mb);
}

:is(ul,ol) li:last-child {
    margin-bottom: 0;
}

.site-logo {
    max-height: inherit;
}
.wd-header-nav, .site-logo {
    padding-inline: 10px;
}

.wd-logo {
    max-height: inherit;
    transition: none;
}

.wd-logo img[width]:not([src$=".svg"]) {
    width: auto;
    object-fit: contain;
}

.wd-logo img {
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: inherit;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    perspective: 800px;
}

a img {
    border: none;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}



.whb-col-right, .whb-mobile-right {
    justify-content: flex-end;
    margin-right: -10px;
}


.wd-tools-element {
    position: relative;
    --wd-header-el-color: #333;
    --wd-header-el-color-hover: rgba(51, 51, 51, .6);
    --wd-tools-icon-base-width: 20px;
}

.wd-tools-element>a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: var(--wd-header-el-color);
    line-height: 1;
    padding-inline: 10px;
}

.wd-tools-element>a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    color: var(--wd-header-el-color);
    line-height: 1;
}


.wd-tools-element .wd-tools-icon {
    position: relative;
    display : flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
}

.wd-header-search .wd-tools-icon:before {
    content: "\f130";
    font-family: "woodmart-font";
}
.wd-header-search .wd-tools-icon img, .wd-header-search .wd-tools-icon:before {
    transition: opacity .3s ease;
}
.wd-tools-element .wd-tools-icon:before {
    font-size: var(--wd-tools-icon-base-width);
}

.wd-header-search .wd-tools-icon:after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    font-size: clamp(var(--wd-tools-icon-base-width), var(--wd-tools-icon-width, var(--wd-tools-icon-base-width)), 60px);
    opacity: 0;
    transform: translate(-50%, -50%);
    content: "\f112";
    font-family: "woodmart-font";
}

.wd-tools-element.wd-style-icon .wd-tools-text {
    display: none !important;
}

.wd-tools-element .wd-tools-text {
    margin-inline-start: 8px;
    text-transform: var(--wd-header-el-transform);
    white-space: nowrap;
    font-weight: var(--wd-header-el-font-weight);
    font-style: var(--wd-header-el-font-style);
    font-size: var(--wd-header-el-font-size);
    font-family: var(--wd-header-el-font);
}


.wd-tools-element:is(.wd-design-6,.wd-design-7) {
    --wd-tools-sp: 13px;
}

.wd-tools-element:is(.wd-design-6,.wd-design-7,.wd-design-8) {
    --wd-count-size: 18px;
}


.wd-tools-element:is(.wd-design-6,.wd-design-7):not(.wd-with-wrap) .wd-tools-icon {
    width: 42px;
}
.wd-tools-element.wd-design-6>a>:is(.wd-tools-inner,.wd-tools-icon) {
    border: 1px solid rgba(0, 0, 0, 0.105);
}

.wd-tools-element:is(.wd-design-6,.wd-design-7) :is(.wd-tools-inner,.wd-tools-icon) {
    height: 42px;
    border-radius: 42px;
}

.wd-tools-element .wd-tools-icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
}

.wd-header-my-account .wd-tools-icon:before {
    content: "\f124";
    font-family: "woodmart-font";
}

.wd-account-style-icon:not(.wd-with-username) .wd-tools-text {
    display: none;
}









